:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  padding: 1rem;
  display: grid;
  place-items: center;
}
.wrapper {
  width: 80%;
  display: grid;
}
form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}
abbr {
  color: red;
  text-decoration: none;
}
h1 {
  margin-inline: auto;
}
h1 ~ small {
  margin-inline: auto;
  text-decoration: underline;
  margin-bottom: 1rem;
}
section:nth-of-type(1) > p {
  margin-block: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1rem 2rem;
}
input:not(input[type="checkbox"]),
select {
  display: block;
  width: 200px;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
  margin-top: 0.25rem;
}
input:not(input[type="checkbox"]):focus-visible,
select:focus-visible {
  outline: 2px solid black;
  box-shadow: none;
}
fieldset {
  border: none;
  padding: 0;
  margin-block: 1rem;
}
legend {
  padding: 0;
}
ul {
  margin-block: 1rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
li {
  list-style: none;
}
li > label,
input[type="checkbox"]:hover {
  cursor: pointer;
}
.container {
  background-color: white;
  margin-block: 1rem;
  overflow: auto;
  height: 200px;
  padding: .25rem;
}
.container > hr {
  margin-block: .5rem;
}
button[type="submit"] {
  background: white;
  border: 1px solid black;
  font-family: inherit;
  font-size: 2rem;
  margin-block: .5rem;
  width: 100%;
}